<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>mtbmodelimporter</name>
    <displayName><![CDATA[MTB Model Importer]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Import and manage MTB model products and osCommerce migration import.]]></description>
    <author><![CDATA[luboshs]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
